<div>
    <div class="container-fluid">
        <header id="top" class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <h1 class="title"><span  id="spanID">The friendlier online local marketplace.</span></h1>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <h2>About Us</h2>
            <h3>mission statement here</h3>
        </div>
        <div>
            <a ui-sref="search" <p>Browse Products</p></a>
        </div>
    </div>
</div>
