<div class="container" ng-init="u.getUser()">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel panel-heading">{{u.details.userName}}</div>
            <div class="panel-body">
                <div>
                    <div>
                        <div>
                            <img src="{{u.details.image}}">
                            <button ng-show="editProfile" ng-click="u.pickFile()">Upload a photo</button>
                        </div>
                        <div>
                            <p>Name:{{u.details.firstName}}</p>
                            <input type="text" ng-show="editProfile" ng-model="u.details.firstName">
                        </div>
                        <div>
                            <p>{{u.details.lastName}}</p>
                            <input type="text" ng-show="editProfile" ng-model="u.details.lastName">
                        </div>
                        <div>
                            <p>Email:{{u.details.email}}</p>
                            <input type="text" ng-show="editProfile" ng-model="u.details.email">
                        </div>
                        <div>
                            <p>Phone:{{u.details.phone}}</p>
                            <input type="text" ng-show="editProfile" ng-model="u.details.phone">
                        </div>
                        <div>
                            <p>Birthday:{{u.details.birthday}}</p>
                            <input type="text" ng-show="editProfile" ng-model="u.details.birthday">
                        </div>
                        <br>
                        <div ng-show="editProfile">
                            <p> Your Password:{{u.details.password}}</p>
                            <input type="password" ng-model="u.details.password">
                            <button ng-click="u.updateProfile()">Update Password</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button ng-hide="editProfile" ng-click="editProfile=! editProfile">Edit</button>
                <button ng-show="editProfile" ng-click="u.updateProfile()">Submit Changes</button>
            </div>
        </div>
    </div>
</div>
<div ui-sref="home"></div>
<button ng-hide="editing" ng-click="editing =! editing">Click to Add Product</button>
<div ng-blur="editing =! editing" ng-show="editing">
    <input type="text" ng-model="u.title">name
    <input type="text" ng-model="u.description">description
    <select ng-model="u.condition">
        <option value="Poor">Poor</option>
        <option value="Fair">Fair</option>
        <option value="Good">Good</option>
        <option value="Like-New">Like-New</option>
        <option value="Excellent">Excellent</option>
        <option value="New">New</option>
    </select>
    <select ng-model="u.categories">
        <option value="1">Antique</option>
        <option value="2">Appliances</option>
        <option value="3">Bikes</option>
        <option value="4">Boats</option>
        <option value="5">Cars</option>
        <option value="6">Books</option>
        <option value="7">Phones</option>
        <option value="8">Video Games</option>
        <option value="9">Electronics</option>
        <option value="10">Wanted</option>
        <option value="11">Other</option>
    </select>
    <input type="number" ng-model="u.price">price
    <button ng-click="u.pickFile()">Upload a photo</button>
    <button ng-click="u.addProduct()">add</button>
</div>
<div class="container" ng-controller="searchController as s" ng-init="s.searchProfileProducts()">
    <h1>Your Products!</h1>
    <div>
        <div class="col-md-4" ng-repeat="x in s.response">
            <div class="panel panel-default">
                <div class="panel panel-heading ">{{x.productTitle}}</div>
                <div class="panel-body">
                    <div>
                        <img ng-src="{{x.productImage}}">
                        <p>Product Description:{{x.description}}</p>
                        <p>Condition:{{x.condition}}</p>
                        <p>Price: ${{x.price}}</p>
                        <p>Category: {{x.category.categoryName}}</p>
                    </div>
                </div>
                <div ng-blur="editProduct =! editProduct" ng-show="editProduct">
                    <div>
                        Title
                        <input type="text" ng-model="x.productTitle">
                    </div>
                    <div>
                        Description
                        <input type="text" ng-model="x.description">
                    </div>
                    <div>
                        Price
                        <input type="number" ng-model="x.price">
                    </div>
                    <div>
                        Condition
                        <select ng-model="x.condition">
                            <option value="Poor">Poor</option>
                            <option value="Fair">Fair</option>
                            <option value="Good">Good</option>
                            <option value="Like-New">Like-New</option>
                            <option value="Excellent">Excellent</option>
                            <option value="New">New</option>
                        </select>
                    </div>
                    <div>
                        Category
                        <select ng-model="x.category.categoryName">
                            <option value="1">Antique</option>
                            <option value="2">Appliances</option>
                            <option value="3">Bikes</option>
                            <option value="4">Boats</option>
                            <option value="5">Cars</option>
                            <option value="6">Books</option>
                            <option value="7">Phones</option>
                            <option value="8">Video Games</option>
                            <option value="9">Electronics</option>
                            <option value="10">Wanted</option>
                            <option value="11">Other</option>
                        </select>
                    </div>
                    <div>
                        Image
                        <button ng-click="u.pickFile()">Upload a photo</button>
                    </div>
                    <button ng-click="u.editProduct(x.productId, x);">submit</button>
                </div>
                <div class="panel-footer">
                    <button ng-hide="editProduct" ng-click="editProduct =! editProduct">Edit</button>
                    <button ng-click="u.deleteBookmarkAndProduct(x.productId)">Delete</button>
                </div>
            </div>
        </div>
        <!--/.sidebar-offcanvas-->
    </div>
</div>
<div class="container" ng-init="u.getBookmarks()">
    <h1>Your Bookmarks!</h1>
    <div class="col-md-4" ng-repeat="data in vm.bookmarks">
        <div class="panel panel-default">
            <div class="panel panel-heading ">{{data.product.productTitle}}</div>
            <div class="panel-body">
                <div>
                    <img ng-src="{{data.product.productImage}}">
                    <p>Product Description:{{data.product.description}}</p>
                    <p>Condition:{{data.product.condition}}</p>
                    <p>Price: ${{data.product.price}}</p>
                    <p>Category: {{data.product.category.categoryName}}</p>
                </div>
            </div>
            <div class="panel-footer">
                <button ng-click="u.deleteBookmarks(data.product.productId)">Delete</button>
            </div>
        </div>
    </div>
</div>
