<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Search for a Product</legend>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="conditionSelect">Select Condition</label>
            <div class="col-md-4">
                <select id="conditionSelect" name="conditionSelect" class="form-control" ng-model="s.condition">
                    <option value="Poor">Poor</option>
                    <option value="Fair">Fair</option>
                    <option value="Good">Good</option>
                    <option value="Like-New">Like-New</option>
                    <option value="Excellent">Excellent</option>
                    <option value="New">New</option>
                </select>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="categorySelect">Select Category</label>
            <div class="col-md-4">
                <select id="categorySelect" name="categorySelect" class="form-control" ng-model="s.categories">
                    <option value="Antique">Antique</option>
                    <option value="Appliances">Appliances</option>
                    <option value="Bikes">Bikes</option>
                    <option value="Boats">Boats</option>
                    <option value="Cars">Cars</option>
                    <option value="Books">Books</option>
                    <option value="Phones">Phones</option>
                    <option value="Video Games">Video Games</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Wanted">Wanted</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <!-- Search input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="keyWords">Search Keywords</label>
            <div class="col-md-4">
                <input id="keyWords" name="keyWords" type="search" placeholder="search" class="form-control input-md" ng-model="s.keyword">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="minRent">Min Rent</label>
            <div class="col-md-4">
                <input id="minRent" name="minRent" type="number
" placeholder="minRent" class="form-control input-md" ng-model="s.minPrice">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="maxPrice">Max Rent</label>
            <div class="col-md-4">
                <input id="maxPrice" name="maxPrice" type="number" placeholder="search" class="form-control input-md" ng-model="s.maxPrice">
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <div class="col-md-4">
                <button id="searchbutton" name="Submit" class="btn btn-default" ng-click="s.searchProducts()">Search</button>
            </div>
        </div>
    </fieldset>
</form>
<div class="container">
    <div>
        <div class="col-md-4" ng-repeat="x in s.response">
            <div class="panel panel-default">
                <div class="panel panel-heading ">{{x.productTitle}}</div>
                <div class="panel-body">
                    <div>
                        <img ng-src="{{x.productImage}}">
                    </div>
                </div>
                <div class="panel-footer">
                    <button ui-sref="details({productDetailId: '{{x.productId}}'})">Details</button>
                </div>
            </div>
        </div>
        <!--/.sidebar-offcanvas-->
    </div>
</div>
